@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400&display=swap');

:root
{
    --white-color: hsl(0, 0%, 97%);
    --dark-color: hsl(210, 4%, 11%);
    --darker-color: hsl(120, 3%, 7%);
    --gray-color: hsl(214, 7%, 21%);
    --purple-color: hsl(260, 54%, 52%);
    --blue-color: hsl(208, 76%, 53%);

    --font: 'Albert Sans', sans-serif;
}

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.web-mount
{
    width: 100vw;
    height: 100vh;

    top: 0;
    left: 0;

    position: absolute;
}

.dark-theme
{
    background: var(--dark-color);
    color: var(--white-color);
}

.button-holder
{
    display: flex;

    justify-content: center;
    align-items: center;

    flex-direction: row;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    position: absolute;
}

.download-button
{
    width: 14rem;
    padding: 8px;

    justify-content: center;
    align-items: center;

    text-align: center;

    font-family: var(--font);

    background-color: transparent;

    outline: none;

    border: 1px solid var(--white-color);

    color: var(--white-color);

    font-size: 16px;

    margin: 0 4px;

    display: flex;

    transition: all 196ms ease-in-out;
}

.download-button:hover
{
    background-color: var(--white-color);
    color: var(--dark-color);
}

.discord-icon
{
    bottom: 40px;

    left: 50%;

    transform: translateX(-50%);

    width: 64px;
    padding: 12px;

    border-radius: 20px;

    position: absolute;

    transition: all 196ms ease-in-out;

    -webkit-user-drag: none;
}

.discord-icon:hover
{
    border-radius: 30px;

    background: var(--darker-color);
}

@media screen and (max-width: 720px)  {
    .button-holder
    {
        flex-direction: column;

        transition: all 196ms ease-in-out;
    }

    .download-button
    {
        margin-bottom: 4px;
    }
}

.about {
    font-family: var(--font); 
    
    position: absolute;

    left: 46.5%;
    top: 96%;
}

.support-button {
    background: none;

    color: aliceblue;

    font-size: 25px;

    size: 50px;

    border: none;

    position: absolute;

    bottom: 95.5%;

    left: 10%;

}



#support {
    font-size: 40px;
    
    background: var(--gray-color);

    border: 2.5px solid var(--white-color);

    width: 50%;
    height: 6.5%;

    position: absolute;

    bottom: 70%;
    left: 15.2%;
}

#support-problem {
    font-size: 40px;
    
    border: 2.5px solid var(--white-color);

    background: var(--gray-color);

    color: var(--white-color);

    width: 50%;
    height: 35%;

    position: absolute;

    bottom: 30%;
    left: 15.2%;

}

.submit {
    background: skyblue;

    border: 2.5px solid var(--white-color);
    
    font-size: 45px;

    position: absolute;
    
    font-family: var(--font);

    bottom: 20%;

    left: 60%;
}

.thx {
    font-family: var(--font);

    font-size: 50px;

    position: absolute;

    bottom: 47%;

    left: 35.5%;
}

.thx1 {
    font-family: var(--font);

    font-size: 50px;

    position: absolute;

    bottom: 54%;
    
    left: 30%;
}

.back{
    font-size: 43px;

    background: none;

    border: none;

    position: absolute;

    bottom: 38%;

    left: 46.5%;
}